body{
    background: #fff;
    margin: 0;
    padding: 0;
}
.flag{
    position: absolute;
    width: 10cm;
    height: 6cm;
    background: #006747;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.circle{
    position: relative;
    width: 4cm;
    height: 4cm;
    background: #DA291c;
    border-radius: 50%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}