body{
    background-color: #222;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;


}
.card{
    width: 350px;
    height: 500px;
    background-color: #222;
    border-radius: 10px;

}
.top-left{
    position: absolute;
    border-top: 40px solid red;
    border-right: 40px solid rgba(128, 128, 128, 0.678);
    border-bottom: 40px solid blue;
    border-left: 40px solid orange;
    box-shadow:  3px 3px 3px rgba(0,0,0,0,.2);
}